@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root{
  --font-style: 'Nunito Sans', sans-serif;
  --color-blanco: #fff;
  --color-gris: #cbbddb;
  --color-lila: #8f7cec;
  --font-size-1: 16px;
}

*{
  box-sizing: border-box;
}

body{
  background: #131315;
  font-family: var(--font-style);
}

.login-box{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #242026;
  box-shadow: 0 15px 25px rgba(143, 124, 236, .7);
  border-radius: 10px;
}

.login-box h2{
  margin: 0 0 30px;
  padding: 0;
  color: var(--color-blanco);
  text-align: center;
}

.login-box .user-box input{
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: var(--font-size-1);
  color: var(--color-blanco);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--color-blanco);
  outline: none;
  background: transparent;
}

.login-box .user-box label{
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: var(--font-size-1);
  color: var(--color-blanco);
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label{
  top: -85px;
  left: 0;
  color: var(--color-lila);
  font-size: 12px;
}

#submit{
  padding: 10px 20px;
  color: var(--color-gris);
  font-size: var(--font-size-1); 
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: 1px solid var(--color-lila);
  margin: auto;
}

#submit:hover{
  background: var(--color-lila);
  color: var(--color-blanco);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-lila), 0 0 25px var(--color-lila), 0 0 100px var(--color-lila);
}

.button-form{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#register{
  font-size: 14px;
  text-decoration: none;
  color: var(--color-gris);
  margin: auto;
  width: 60%;
  text-align: center;
}

#register a{
  margin: auto;
  color: var(--color-lila);
  text-decoration: none;
}
