body{
  background-color: #fafafa;
  height: 100vh;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

input{
  all: unset;
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  margin-top: 10px;
  width: 268px;
  height: 18px;
  transition: all .5s;
}

input:focus::placeholder{
  position: relative;
  font-size: 10px;
  top:-12px;
  transition: all .5s ease-in-out;
}

input:focus{
  border: 1px solid rgb(160, 154, 154);

}

.display{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.left{
  width: 430px; 
  height: 650px;
  background-image: url(https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk);
  background-repeat: no-repeat;
  margin-top: 60px;
}

.left img{
  position: relative;
  top: 28px;
  left: 157px;
}

.right > div{
  width: 280px;
  background-color: #fff;
  border: 1px solid rgb(219, 219, 219);
  padding: 40px;
  margin: 20px;
}

.right form{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
align-items: center;
justify-content: center;

}

.right .i{
  width: 200px;
  height: 70px;
  padding: 0px 50px 0px 50px  ;
  cursor: pointer;
  margin-bottom: 30px;
}

button{
  background-color: rgba(0, 149, 246);
  width: 280px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin: 20px 8px;
  font-weight: bold;
  cursor: pointer;
}

.sep{
  display: flex;
  justify-content: center;
}
.line{
  border-top: 1px solid rgba(160, 154, 154, 0.494);
  width: 120px;
  position: relative;
  top: 13px;
}

.sep p{
  color:rgba(160, 154, 154, 0.494);
  font-size: 15px;
  margin: 5px;
}

section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;

}

section .f{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

section a{
  text-decoration: none;
  color: #3b5998;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}

section a.forgot{
  text-align: center;
  width: 80%;
  color: #3b5998;
  font-size: 13px;
  margin-top: 20px;
  font-weight: normal;
  letter-spacing: .5px;
}

div.ult{
display: flex;
flex-wrap: nowrap;
align-content: center;
align-items: center;
justify-content: center;
padding: 10px 40px;

}

.ult p{
  font-size: 15px;
  margin-right: 3px;
}

.ult a{
  text-decoration: none;
  color: rgba(0, 149, 246);
  font-size: 15px;
  font-weight: bold;
}