body{
  background-color: #000;
  text-align: center;
  padding-top: 150px;
}

.button{
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

.button{
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  text-transform: uppercase;
  color: gray;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text{
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text{
  width: 100%;
  filter: drop-shadow(0 0 20px var(--animation-color));
}