body{
  background: linear-gradient(to right, #0ca7ce, #9b72d2);
}
#reloj{
  font-family:monospace;
  font-size: 60px;
  text-shadow: 2px 2px 5px #ce330c;
  color: #fff;
}

.reloj-contenedor{
  /* background-color: #0ca7ce; */
  background: linear-gradient(to right, #9b72d2, #0ca7ce);
  text-align: center;
  padding: 15px;
  max-width: 450px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow:  10px 10px 25px #000;
  margin-top: 15%;
}

#fecha{
  letter-spacing: 10px;
  font-size: 15px;
}

.animar{
  border: red 1px solid;
}