@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root{
  --font-style: 'Nunito Sans', sans-serif;
}

*{
  box-sizing: border-box;
}

body{
  background: #131315;
  font-family: var(--font-style);
}

.login-box{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #242026;
  box-shadow: 0 15px 25px rgba(143, 124, 236, .7);
  border-radius: 10px;
}